{% extends "base.html" %}

{% block body %}

<!--
    <p>{{ player_cards }}</p> 
    <p>{{ player_total }}</p>
    <hr>
    <p>{{ dealer_cards }}</p> 
    <p>{{ dealer_total }}</p>
-->
<center>
    <h1 id = title>Black Jack</h1>
    <h1 id = "player-dealer-titles">Dealer Cards</h1>
        <p >
            {%if playerStands == True%} 
                {%for card in dealer_cards %}
                    <img src="static/cards/{{ card[-1][-1] }}"/>
                {% endfor %}
            {%else%}
                <img src="static/cards/{{ dealer_cards[0][-1][-1] }}"/>
                <img src="{{hiddenCard}}"/> 
            {%endif%}
            <h3 id = "total">Total for the dealer is: {{ dealer_total }}</h3>
        </p>
    
    
  
        <h1 id  = "player-dealer-titles">Player Cards</h1>
            <p >
            {% for card in player_cards %}
                <img src="static/cards/{{ card[-1][-1] }}"/>
            {% endfor %}
            </p>
        <h3 id = "total">Total for the player is: {{ player_total }}</h3>
        <!--
            <h3>Total for the dealer is: {{ dealer_total }}</h3>
        -->

        <form action="/stand" method="post">
            <input id = "button" type="submit" value="Stand"/>
        </form>
        <form action="/hit" method="post">
            <input id = "button" type="submit" value="Hit"/>
        </form>
        <form action="/restart" method="post">
            <input id = "button" type="submit" value="Restart"/>
        </form>

        {%if playerStands == True%} 
            <div class = "resultBox " >
        {%else%}     
            <div class = "resultBox hidden" >
        {%endif%} 
            <h1 id = "resultTitle">Result</h1>
            <h2 id = "gameResult">  {{ gameResult}}</h2>
        </div>
</center>
   

{% endblock %} 